<app-heroes></app-heroes>

<body>
  <h2> List of Users </h2>
<table class="table table-hover">
   <thead>
       <tr>
           <td>Name</td>
           <td>Rollno</td>
           <td>Email</td>
           <td>Marks</td>
           <td>Rank</td>
       </tr>
   </thead>
   <tbody>

       <tr *ngFor='let student of students'>
           <td>{{student.name}}</td>
           <td>{{student.rollno}}</td>
           <td>{{student.email}}</td>
           <td>{{student.marks}}</td>
           <td>{{student.rank}}</td>
       </tr>
   </tbody>
</table>



<html>
<body>

<h2>Login</h2>

<form>
  <div class="col-lg-12">
<label class= "col-lg-2">Name </label>
<div class="col-lg-10">
  <input type="name" name="name" placeholder="Name">
  <br>
</div>
</div>
<div class="col-lg-12">
  <label class= "col-lg-2">Rollno </label>
  <div class="col-lg-10">
    <input type="text" name="rollno"required><br>
</div>
</div>
<div class="col-lg-12">
  <label class= "col-lg-2">Email </label>
  <div class="col-lg-10">
    <input type="text" name="email" required><br>
</div>
</div>
<div class="col-lg-12">
  <label class= "col-lg-2">Marks </label>
  <div class="col-lg-10">
    <input type="text" name="marks"required><br>
</div>
</div>
<div class="col-lg-12">
  <label class= "col-lg-2">Rank </label>
  <div class="col-lg-10">
    <input type="text" name="rank"required><br>
</div>
</div>
<br>
<input type="submit" value="Submit">
</form>
<a href="Products">Products</a>
<a href="Inventory">Inventory</a>
</body>
</html>
